<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoToursSuite">
  <test thread-count="5" name="AllTest">
    <classes>
      <class name="testNGConcept.BasicScript"/>
      	<methods>
      		<include name="getHomePageTitle"/>
      		<include name="getLangdingUrl"/>
      		<exclude name="getSignOnPageTitle"/>
      		<exclude name="getRegisterPageTitle"/>
      	</methods>
    </classes>
  </test> <!-- AllTest -->
</suite> <!-- DemoToursSuite -->
